<html>
  <body>
    <footer>
      <div class="contact-info" style="height: 250px">
        <h2 style="text-align: center">Contact Info</h2>
        <p>
          <i class="fa fa-map-marker" style="width: 30px"></i> Bach Khoa, Ha Noi
        </p>
        <p>
          <i class="fa fa-phone" style="width: 30px"></i> Phone: +84 395870206
        </p>
        <p>
          <i class="fa fa-envelope" style="width: 30px"></i> Email:
          truong.hq182843@sis.hust.edu.vn
        </p>
      </div>
      <div class="contact-us" style="height: 250px">
        <h2>Contact Us</h2>
        <p>If you have an idea.</p>
        <p>What are you waiting for?</p>
      </div>
      <div class="like-us" style="height: 250px">
        <h2 style="text-align: center">Like Us</h2>
        <p>
          <a href="https://www.facebook.com/hq.truong010200/"
            ><i class="fa fa-facebook-official" style="width: 30px"></i> Hà
            Quang Trường</a
          >
        </p>
        <p>
          <a href="https://www.facebook.com/cate.kien/"
            ><i class="fa fa-facebook-official" style="width: 30px"></i> Vũ Đức
            Kiên</a
          >
        </p>
        <p>
          <a href="https://www.facebook.com/long.tv18/"
            ><i class="fa fa-facebook-official" style="width: 30px"></i> Trần
            Việt Long</a
          >
        </p>
      </div>
    </footer>
    <div>
      <p class="on-bot">
        Powered by
        <a class="HQT" href="https://fb.com/hq.truong010200">HQ Truong</a>
      </p>
    </div>
  </body>
</html>
