<!--
including header content which is common for all pages
-->
<%- include layouts/header.ejs %>

<h1 style="text-align: center" class="mt-5">Welcome To Admin Page !!!</h1>
<div class="mt-5">
  <div class="card-group">
    <div class="card">
      <div class="card-footer">
        <label> <i class="fas fa-user"></i> </label>
        <a href="fb.com/cate.kien"><small>Vũ Đức Kiên</small></a>
      </div>
      <img
        class="card-img-top"
        src="https://yt3.ggpht.com/ytc/AKedOLRAIbph_gdGzZ9tOuxxzrWJYHGXFLbBXDUVz6HE2w=s900-c-k-c0x00ffffff-no-rj"
        alt="Card image cap"
      />
    </div>
    <div class="card">
      <div class="card-footer">
        <label> <i class="fas fa-user"></i> </label>
        <a href="fb.com/hq.truong010200"><small>Hà Quang Trường</small></a>
      </div>
      <img
        class="card-img-top"
        src="https://kenh14cdn.com/thumb_w/660/203336854389633024/2021/12/7/photo-1-16388803677791028684100.jpg"
        alt="Card image cap"
      />
    </div>
    <div class="card">
      <div class="card-footer">
        <label> <i class="fas fa-user"></i> </label>
        <a href="fb.com/long.tv18"><small>Trần Việt Long</small></a>
      </div>
      <img
        class="card-img-top"
        src="https://i.pinimg.com/474x/9a/ba/60/9aba6040f5c0af8c93b388f5df24c121.jpg"
        alt="Card image cap"
      />
    </div>
  </div>
</div>

<!--
including footer content which is common for all pages
-->
<%- include layouts/footer.ejs %>
