<!--
including header content which is common for all pages
-->
<%- include layouts/header.ejs %>

<h1 class="mt-5">Welcome To Admin Page !!!</h1>
<div class="mt-5">
  <div class="card-group">
    <div class="card">
      <div class="card-footer">
        <label> <i class="fas fa-user"></i> </label>
        <a href="https://www.facebook.com/cate.kien"
          ><small>Vũ Đức Kiên</small></a
        >
      </div>
    </div>
    <div class="card">
      <div class="card-footer">
        <label> <i class="fas fa-user"></i> </label>
        <a href="https://www.facebook.com/hq.truong010200/"
          ><small>Hà Quang Trường</small></a
        >
      </div>
    </div>
    <div class="card">
      <div class="card-footer">
        <label> <i class="fas fa-user"></i> </label>
        <a href="https://www.facebook.com/long.tv18"
          ><small>Trần Việt Long</small></a
        >
      </div>
    </div>
  </div>
  <!-- <img
    src="https://phunugioi.com/wp-content/uploads/2020/02/mau-background-dep-820x513.jpg"
    alt="linux"
    style="width: 100%; height: auto; opacity: 0.8"
  /> -->
</div>

<style>
  body {
    background-image: url("https://phunugioi.com/wp-content/uploads/2020/02/mau-background-dep-820x513.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  h1 {
    text-align: center;
    color: white;
  }
  .card-footer {
    background-image: url("https://phunugioi.com/wp-content/uploads/2020/02/download-background-dep-820x513.jpg");
  }
</style>
<!--
including footer content which is common for all pages
-->
<%- include layouts/footer.ejs %>
