<!--
including header content which is common for all pages
-->
<%- include layouts/header.ejs %>

<h1 style="text-align: center" >Welcome To Admin Page !!!</h1>

<!--
including footer content which is common for all pages
-->
<%- include layouts/footer0.ejs %>
