<!--
including header content which is common for all pages
-->
<%- include layouts/header.ejs %>

<header>
  <h1>
    Automatic Exchange And Charge The Batteries For Electric Motorcycle
  </h1>
</header>

<section>
  <div>
    <p class="h3"></p>
    <img
      src="https://genk.mediacdn.vn/thumb_w/640/139269124445442048/2022/3/5/gogoroswapsupergostation-1646481582160302835123.jpg"
      style="width: 90%"
    />
  </div>
  <div>
    <div class="h4"></div>
    <img
      src="https://news.oto-hui.com/wp-content/uploads/2022/02/an-do-theo-duoi-chien-luoc-doi-pin-xe-dien-khong-xay-tram-sac-3-1024x683.jpeg"
      style="width: 80%"
    />
    <p class="opacity-02">
      Available in Ha Noi, Hai Phong, Bac Ninh, Nam Dinh, Ha Nam, Da Nang, Ho Chi Minh
    </p>
  </div>
</section>
<!--
including footer content which is common for all pages
-->
<%- include layouts/footer.ejs %>
