<%- include ../layouts/header.ejs %> <% if (messages.error) { %>
<p style="color: red"><%- messages.error %></p>
<% } %> <% if (messages.success) { %>
<p style="color: green"><%- messages.success %></p>
<% } %>

<div class="login mt-4">
  <h1 style="text-align: center">Login</h1>
  <form action="/auth" method="post" class="mt-4" name="form1">
    <!-- <table style="text-align: center" class="mx-auto">
      <tr>
        <td> -->
    <label for="admin">
      <i class="fas fa-user"></i>
    </label>
    <input type="text" name="admin" placeholder="Admin" id="admin" required />
    <!-- </td>
      </tr>
      <tr>
        <td> -->
    <label for="password">
      <i class="fas fa-lock"></i>
    </label>
    <input
      type="password"
      name="password"
      placeholder="Password"
      id="password"
      required
    />
    <!-- </td>
      </tr>
    </table> -->
    <div style="text-align: center">
      <input class="mt-2" type="submit" value="Submit" />
    </div>
  </form>
</div>
<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen,
      ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial,
      sans-serif;
    font-size: 16px;
  }
  html,
  body {
    box-sizing: border-box;
    background-color: #d5d2db;
  }
  .login {
    width: 400px;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
  }
  .login h1 {
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
  }
  .login form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
  }
  .login form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #3274d6;
    color: #ffffff;
  }
  .login form input[type="password"],
  .login form input[type="text"] {
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
  }
  .login form input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #3274d6;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
  }
  .login form input[type="submit"]:hover {
    background-color: #2868c7;
    transition: background-color 0.2s;
  }
</style>

<%- include ../layouts/footer.ejs %>
